---
// src/pages/illusions/necker-cube.astro
return Astro.redirect('/famous');
---
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="refresh" content="0;url=/famous">
  <title>Redirecting...</title>
  <script>
    window.location.href = "/famous";
  </script>
</head>
<body>
  <p>Redirecting to <a href="/famous">/famous</a>...</p>
</body>
</html>
